*{
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:solid 1px;
    border-top: solid 1px;
    padding: 10px;
    gap: 10px;
    align-items: center;
    padding: 10px;
    
}
.s1__title{
    color: rgb(147, 3, 70);
    align-items: center;
}
.s2{
    border:  solid black 1px;
    display: flex;
    padding: 10px;
    width: 75%;
    border-radius: 40px;
    gap: 10px;
    align-items: center;
}
.s2__input:focus{
    outline: none;
    width: 100%;
}
.s2__input{
    border: none;
}
.s3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    margin:0;
    padding:0;
}
.categories{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid black 1px;
    width:99%;

    

}
.categories p{
    background-color: rgb(120, 3, 110);
    color: white;
    padding: 10px;
    border-radius: 30px;
    margin: 5px;
    text-align: center; 

}
.sale__box{
    width: 35%;
    height: 10%;
    background-color: white;
    position: absolute;
    left: 8%;
    top: 30%;
    border: 3px solid black;
    animation-name: zoom;
    animation-duration: 2s;
    
}
@keyframes zoom {

    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform:scale(1);
        opacity: 1;
    }
    
}
.sale__image img{
width: 100%;
}
.recomend{
    padding: 10px;
    
}
.course_card{
    width: 200px;
    flex-wrap: wrap;

}
.course_card img{
    width:80%;
    height: 50%;
}
.total_course{
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;


}
.course_card del{
    padding-right: 10px;
}
.course_card h3,p{
    width: 80%;
}
.topics{
    padding: 10px;

}
.topics__container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
    flex-wrap: wrap;


}
.topics__container p{
    border: solid grey 2px;
 flex-grow: 1;
 flex-basis: 25%;
 text-align: center;

}
.popular{
    padding: 10px;

}
.footer{
    margin-top: 10px;
    background-color: black;
    color: white;
    width:100%;

}
.footer__one{
display: flex;
gap: 10px;
}
.footer__one p{
margin: 20px;
}
.footer__two{
display: flex;
padding:10px;
margin:10px;
justify-content: space-between;
align-items: center;
padding-bottom:20px;}
/* my learning section */
.learning1{
    position: relative;
    cursor: pointer;
   }
   .mylearning__1{
    position: absolute;
    height: 60px;
    width: 100px;
    background-color:white;
    color: black;
    padding: 5px;
    border: solid 1px black;
    top: 150%;
    right: 0;
    display: none;
   }
   .learning1:hover .mylearning__1{
    display: block;
   }
   /* media screen */
   @media screen and (max-width:500px) {
    
    body{
        font-size: 10px;
    }
    .sale__image{
        position: relative;
        
    }
  .sale__box{
    width:50%;
    height: 30%;
    position: absolute;
    top: 23%;
    padding: 5px;

    
   
   }
   .pp1{
    padding-top:1px;
   }
   .p2{
    padding-top: 10px;
   }
   @media  screen and (max-width:100%) {

    .sale__box{
        position: absolute;
        top: 20%;
    }
    
   }

  
}

   
